/* VARIABLES */
:root {
--gold-color: #dfb66e;
--gray-color: #66666;
--white-color: white;
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* GLOBAL */
body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
}
.hidden {
  display: none;
}
.fs-0 {
  font-size: 0px;
}


 /*STYLING*/
/* SOCIAL MEDIA */

/* NAVIGATION */
.navigation {
  width: 100%;
  padding: 0px;
  -webkit-box-shadow: 0px 12px 15px -12px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 12px 15px -12px rgba(66, 68, 90, 1);
  box-shadow: 0px 12px 15px -12px rgba(66, 68, 90, 1);
}

.navbar img {
  width: 8vh;
}

.navbar ul li {
  letter-spacing: 1px;
  padding-left: 5vh;
}
.sc-media-box {
  background-color: green;
}
.sc-media-box i {
  padding: 5px;
}
